// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "variables";
$icon-font-path:          "../fonts/bootstrap/";
// Import Bootstrap for Sass
@import "bootstrap";

$fa-font-path: "../bower_components/fontawesome/fonts";

@import "../bower_components/fontawesome/scss/font-awesome.scss";

@import "bootswatch";


.system-messages {
    padding-left: 0;
}

.form_search .radioitem {
    display: inline;
    margin-left: 1em;
}

.element {
    position: relative;
}

.modal-dialog {
    z-index: 9999;
}

.modal-backdrop {
    z-index: 0 !important;
}